@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Please provide your account number: 
<form method="post">
    <input type="text" id="accountNuber" name="accountNuber" value="" />
    <input type="submit">
</form>
<p>@Model.Message</p>